.env
.yarn
node_modules/
.pnp.cjs
.pnp.loader.mjs
.DS_Store
readnik.md
dist/
instructlab/venv
instructlab/taxonomy/
instructlab/chatlogs
instructlab/checkpoints
instructlab/checkpoints-prevent-deletions
instructlab/models
instructlab/models-ibm-merlinite-7b-trained
instructlab/watsonx-openapi
instructlab/watsonx-openai-api
orchestrate/custom-search/venv
__pycache__/

# Additional
orchestrate/custom-search/ce-deployment
workshops/regional_techXchange-march25/03_phase3_agents/agents/langgraph_implementation/.venv
workshops/regional_techXchange-march25/03_phase3_agents/ui/code/.streamlit
workshops/regional_techXchange-march25/03_phase3_agents/agents/langgraph_implementation/poetry.lock
workshops/regional_techXchange-march25/03_phase3_agents/agents/langgraph_implementation/.pytest_cache
workshops/regional_techXchange-march25/03_phase3_agents/agents/langgraph_implementation/prompts
workshops/regional_techXchange-march25/03_phase3_agents/agents/langgraph_implementation/config.toml
workshops/regional_techXchange-march25/03_phase3_agents/agents/langgraph_implementation/watsonx-ochestrate_integration
workshops/regional_techXchange-march25/03_phase3_agents/agents/langgraph_implementation/.venv
