.env
.yarn
node_modules/
.pnp.cjs
.pnp.loader.mjs
.DS_Store
readnik.md
dist/
instructlab/venv
instructlab/taxonomy/
instructlab/chatlogs
instructlab/checkpoints
instructlab/checkpoints-prevent-deletions
instructlab/models
instructlab/models-ibm-merlinite-7b-trained
instructlab/watsonx-openapi
instructlab/watsonx-openai-api
orchestrate/custom-search/venv
__pycache__/

# Additional
orchestrate/custom-search/ce-deployment
workshops/regional_techXchange_2025_03/03_phase3_agents/agents/langgraph_implementation/.venv
workshops/regional_techXchange_2025_03/03_phase3_agents/ui/code/.streamlit
workshops/regional_techXchange_2025_03/03_phase3_agents/agents/langgraph_implementation/poetry.lock
workshops/regional_techXchange_2025_03/03_phase3_agents/agents/langgraph_implementation/.pytest_cache
workshops/regional_techXchange_2025_03/03_phase3_agents/agents/langgraph_implementation/prompts
workshops/regional_techXchange_2025_03/03_phase3_agents/agents/langgraph_implementation/config.toml
workshops/regional_techXchange_2025_03/03_phase3_agents/agents/langgraph_implementation/watsonx-ochestrate_integration
workshops/regional_techXchange_2025_03/03_phase3_agents/agents/langgraph_implementation/.venv
workshops/regional_techXchange_2025_03/03_phase3_agents/prompts/2025-02-28-01.md
workshops/regional_techXchange_2025_03/03_phase3_agents/prompts/2025-03-03-01.md
.gitignore
workshops/regional_techXchange_2025_03/03_phase3_agents/watsonx-ochestrate_integration/tsuedbro-agent-action-name-array-v2.json
workshops/regional_techXchange_2025_03/03_phase3_agents/watsonx-ochestrate_integration/watsonx_openapi_v1.2.1.json
workshops/regional_techXchange_2025_03/03_phase3_agents/watsonx-ochestrate_integration/watsonx_openapi_v1.2.2.json
workshops/regional_techXchange_2025_03/03_phase3_agents/watsonx-ochestrate_integration/watsonx_openapi_v1.4.1.1.json
workshops/regional_techXchange_2025_03/03_phase3_agents/watsonx-ochestrate_integration/watsonx_openapi_v1.4.1.json
workshops/regional_techXchange_2025_03/03_phase3_agents/watsonx-ochestrate_integration/watsonx_openapi_v1.4.json
workshops/regional_techXchange_2025_03/03_phase3_agents/prompts/2025-02-28-02.md
workshops/regional_techXchange_2025_03/03_phase3_agents/regional_techXchange-march25-agents.code-workspace

api_data.db